<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Apis" version="1.57.0" targetFramework="net48" />
  <package id="Google.Apis.Auth" version="1.57.0" targetFramework="net48" />
  <package id="Google.Apis.Core" version="1.57.0" targetFramework="net48" />
  <package id="Google.Apis.Sheets.v4" version="1.57.0.2727" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Selenium.Chrome.WebDriver" version="85.0.0" targetFramework="net48" />
  <package id="Selenium.Support" version="4.3.0" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="4.3.0" targetFramework="net48" />
  <package id="Selenium.WebDriver.ChromeDriver" version="103.0.5060.5300" targetFramework="net48" />
  <package id="WebDriver.ChromeDriver" version="26.14.313457.1" targetFramework="net48" />
  <package id="WebDriver.ChromeDriver.win32" version="103.0.5060.53" targetFramework="net48" />
  <package id="WebDriverChromeDriver" version="2.10" targetFramework="net48" />
</packages>